<p>adoptar works!</p>
<section class="section-adopcion">
  <div class="container-adopcion">
    <header class="header-adopcion">
      <h2 class="title-adopcion">Formulario de Adopción</h2>
    </header>

    <form [formGroup]="adopcionForm" (ngSubmit)="enviarSolicitud()" class="form-adopcion">
      <div class="div-adopcion">
        <label for="nombre" class="label-adopcion">Nombre Completo:</label>
        <input id="nombre" type="text" formControlName="nombreCompleto" class="input-adopcion" />

        <label for="direccion" class="label-adopcion">Dirección Actual:</label>
        <input id="direccion" type="text" formControlName="direccion" class="input-adopcion" />
      </div>

      <div class="div-adopcion">
        <label for="motivo" class="label-adopcion">¿Por qué quieres adoptar?</label>
        <textarea id="motivo" formControlName="motivoAdopcion" class="textarea-adopcion"></textarea>
      </div>

      <hr class="hr-adopcion" />

      <div formArrayName="respuestasCuestionario" class="div-adopcion">
        <h3 class="subtitle-adopcion">Cuestionario de Compromiso</h3>

        @for (preguntaControl of cuestionarioArray.controls; track $index) {
          <div [formGroupName]="$index" class="div-adopcion">
            <label class="label-adopcion"> {{ $index + 1 }}. {{ preguntasBase[$index] }} </label>

            <textarea
              formControlName="respuesta"
              class="textarea-adopcion"
              placeholder="Escribe tu respuesta aquí..."
            >
            </textarea>

            @if (
              preguntaControl.get('respuesta')?.touched && preguntaControl.get('respuesta')?.invalid
            ) {
              <small class="text-adopcion">Este campo es obligatorio para la evaluación.</small>
            }
          </div>
        }
      </div>

      <footer class="footer-adopcion">
        <button type="submit" [disabled]="adopcionForm.invalid" class="button-adopcion">
          Finalizar Solicitud
        </button>
      </footer>
    </form>
  </div>
</section>
