<p>peticiones works!</p>
<p>not-found-404 works!</p>
<div class="div-escritorio min-h-screen flex items-center justify-center p-6">
  <section
    class="section-gabinete max-w-2xl w-full bg-[#b8b8b8] border-4 border-black p-8 relative shadow-[12px_12px_0px_0px_rgba(0,0,0,1)]"
  >
    <header class="border-b-4 border-black mb-8 pb-4 text-center">
      <h1 class="text-4xl font-black uppercase italic tracking-tighter">Gabinete de Pruebas</h1>
      <p class="font-mono text-[10px] uppercase tracking-widest mt-1">
        Sincronización de Alertas v1.0
      </p>
    </header>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <button (click)="testSuccess()" class="btn-sello btn-success">DISPARAR ÉXITO</button>

      <button (click)="testError()" class="btn-sello btn-error">DISPARAR ERROR</button>

      <button (click)="testWarning()" class="btn-sello btn-warning">DISPARAR AVISO</button>

      <button (click)="testInfo()" class="btn-sello btn-info">DISPARAR INFO</button>

      <button (click)="testQuestion()" class="btn-sello btn-question md:col-span-2">
        DISPARAR CONSULTA
      </button>
    </div>

    <footer class="mt-10 pt-4 border-t-2 border-dashed border-black opacity-50 text-center">
      <p class="font-mono text-[9px] uppercase">
        Presione un sello para validar el despliegue de la carta antigua.
      </p>
    </footer>

    <div class="div-textura-papel pointer-events-none opacity-10 absolute inset-0"></div>
  </section>
</div>
